if TARGET_LM_CPU_MODULE

config SYS_BOARD
	default "lm-cpu-module"

config SYS_VENDOR
	default "datarespons"

config SYS_CONFIG_NAME
	default "lm-cpu-module"

config FACTORY_BOOT
	bool "Factory boot mode"
	default n
	help
	  Enables the factory installation boot mode

config LOGLEVEL
	int "Kernel loglevel"
	default 4

endif
